.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #1a75ce; }
  .header .logo {
    float: left;
    height: 60px;
    margin: 0; }
    .header .logo a {
      background: url(//static.wmobjects.com.br/webstore/images/sprites/global-s259a53528f.png) no-repeat;
      background-position: 0 -1764px;
      height: 40px;
      width: 173px;
      display: block;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      margin: 8px 0 0 19px; }
